<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curifolder | {% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'core/media/inicio.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/styleindex.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    {% block content %} {% endblock %}
    <script src="{% static 'core/js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'core/js/slim.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'core/js/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'core/js/slick.js' %}" type="text/javascript"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'core/js/logos.js' %}" type="text/javascript"></script>
</body>
</html>